<template>
  <div id="photos">
    <img :hover="hover" v-for="(image, index) in images" :key="index" :src="image.link" />
  </div>
</template>

<script>
export default {
  created() {
    this.$vs.loading();
    try {
      fetch("https://api.imgur.com/3/album/2wNeOS7/images", {
        headers: new Headers({
          Authorization: "Client-ID b0e5e9ca335b07b"
        })
      })
        .then(res => {
          return res.json();
        })
        .then(data => {
          this.data_loaded = true;
          console.log(data);
          this.images = data.data;
          this.$vs.loading.close();
        });
    } catch (error) {
      console.error(error);
    }
  },
  data() {
    return {
      hover: "curtain",
      images: [],
      data_loaded: false
    };
  }
};
</script>


<style>
#photos {
  overflow: auto;
  margin-top: 17px;
  -webkit-column-count: 5;
  -webkit-column-gap: 5px;
  -moz-column-count: 5;
  -moz-column-gap: 5px;
  column-count: 5;
  column-gap: 5px;
}

#photos img {
  border-radius: 3%;
  width: 88% !important;
  height: auto !important;
}

#photos img:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  #photos {
    margin-left: 7px;
    margin-right: 7px;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 1000px) {
  #photos {
    margin-left: 7px;
    margin-right: 7px;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 800px) {
  #photos {
    margin-left: 7px;
    margin-right: 7px;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 400px) {
  #photos {
    margin-left: 7px;
    margin-right: 7px;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
</style>
