<template>
  <div class="container">
    <vs-input
      class="input"
      size="large"
      icon="search"
      label-placeholder="Search for animu"
      v-model="search_query"
    />
  </div>
</template>

<script>
export default {
  data() {
    return {
      search_query: ""
    };
  }
};
</script>

<style>
.container {
  display: inline-block;
  margin-top: 100px;
  margin-left: 50px;
  margin-bottom: 17px;
}
</style>

