<template>
  <div id="parentx">
    <header>
      <vs-icon class="menu-bar" @click.native="active=!active" icon="menu" size="medium"></vs-icon>
      <vs-icon class="download-icon" icon="cloud_download" size="medium"></vs-icon>
      <vs-icon class="heart-icon" icon="favorite" size="medium"></vs-icon>
      <vs-avatar class="avatar-icon" src="https://i.imgur.com/dwWVm37.png" size="50px"></vs-avatar>
    </header>
    <vs-sidebar
      parent="body"
      default-index="1"
      color="primary"
      class="sidebarx"
      spacer
      v-model="active"
    >
      <div class="header-sidebar" slot="header">
        <vs-avatar size="70px" src="https://i.imgur.com/dwWVm37.png" />
        <p>Shibbi Shibekoook</p>
      </div>
      <vs-sidebar-item index="1" icon="home">Home</vs-sidebar-item>
      <vs-sidebar-item index="2" icon="person">Profile</vs-sidebar-item>
      <vs-sidebar-item index="3" icon="favorite_border">Favorite</vs-sidebar-item>
      <vs-sidebar-item index="4" icon="arrow_downward">Downloads</vs-sidebar-item>
      <vs-sidebar-item index="5" icon="star_border">Best animes</vs-sidebar-item>
      <p class="tags">Attack on titan</p>
      <p class="tags">One piece</p>
      <p class="tags">Dragon ball</p>
      <p class="tags">Hunter X Hunter</p>
      <div class="seperator"></div>
      <vs-sidebar-item index="6" icon="local_offer">Tags</vs-sidebar-item>
      <p class="tags">#manga</p>
      <p class="tags">#naruto</p>
      <p class="tags">#otaku</p>
      <p class="tags">#cute</p>
      <p class="tags">#animegirl</p>
      <p class="tags">#drawing</p>
    </vs-sidebar>
  </div>
</template>

<script>
export default {
  data() {
    return {
      active: false
    };
  }
};
</script>

<style>
.menu-bar {
  margin-top: 15px;
  margin-left: 15px;
  float: left;
}

.menu-bar:hover {
  cursor: pointer;
}

.download-icon {
  margin-top: 15px;
  margin-left: 25px;
  float: left;
}

.download-icon:hover {
  cursor: pointer;
}

.heart-icon {
  margin-top: 15px;
  margin-left: 25px;
  float: left;
}

.heart-icon:hover {
  cursor: pointer;
}

.avatar-icon {
  margin-top: 15px;
  margin-right: 15px;
  float: right;
}

.tags {
  margin-top: 7px;
  margin-left: 33px;
  font-size: 13px;
  color: rgb(0, 150, 150);
}

.seperator {
  margin-top: 10px;
}

.header-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
</style>
