<template>
  <div id="app">
    <Sidebar></Sidebar>
    <Searchbar></Searchbar>
    <Imagegallery></Imagegallery>
  </div>
</template>

<script>
import Sidebar from "./components/SideBar";
import Searchbar from "./components/SearchBar";
import Imagegallery from "./components/ImageGallery";
export default {
  name: "App",
  components: { Sidebar, Searchbar, Imagegallery }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
